### Decode ###
status=decode
raw_dir=/home/ye/tool/NCRFpp/mypos_data/test.bmes
#nbest=10
#nbest=1
decode_dir=/home/ye/tool/NCRFpp/trained-models/wordLSTM-charCNN/test.bmes.out
dset_dir=/home/ye/tool/NCRFpp/trained-models/wordLSTM-charCNN/ncrfpp.dset
load_model_dir=/home/ye/tool/NCRFpp/trained-models/wordLSTM-charCNN/ncrfpp.0.model
